- title "Edit Person"

%h1 Edit Person

= image_tag @person.gravatar_url(size: 128, default: 'identicon')

= render 'form'

%p
  = link_to "Show", @person, :class => "info-button"
  = link_to "View All", people_path, :class => "primary-button"
