/ Carousel
.slider-container.demo-2
  #slider.sl-slider-wrapper
    .sl-slider
      .sl-slide{:data => {:orientation => 'horizontal', :slice1_rotation => "-25", :slice1_scale => "2", :slice2_rotation => "-25", :slice2_scale => "2"}}
        .sl-slide-inner
          .bg-img.bg-img-1
          %h2 We Work Hard.
          %blockquote
            %p "What do you mean 'sleep?'"
            %cite 
              Christophe Ponsart
              %br
              %span.darken
                Founding Partner
      .sl-slide{:data => {:orientation => 'vertical', :slice1_rotation => "10", :slice1_scale => "1.5", :slice2_rotation => "-15", :slice2_scale => "1.5"}}
        .sl-slide-inner
          .bg-img.bg-img-2
          %h2 We Play Hard.
          %blockquote
            %p "I love these people so much."
            %cite 
              David Liu
              %br
              %span.darken
                Senior Manager
      .sl-slide{"data-orientation" => "horizontal", "data-slice1-rotation" => "3", "data-slice1-scale" => "2", "data-slice2-rotation" => "3", "data-slice2-scale" => "1"}
        .sl-slide-inner
          .bg-img.bg-img-3
          %h2 We Build a Reputation.
          %blockquote
            %p "I don't see how we would ever hire anyone else."
            %cite 
              Bill Client
              %br
              %span.darken
                CTO, Megacorp
      .sl-slide{"data-orientation" => "vertical", "data-slice1-rotation" => "-5", "data-slice1-scale" => "2", "data-slice2-rotation" => "25", "data-slice2-scale" => "1"}
        .sl-slide-inner
          .bg-img.bg-img-4
          %h2 We Innovate.
          %blockquote
            %p "It's like they had a conversation with me in 5 years and relayed the message."
            %cite 
              David Allen
              %br
              %span.darken
                VP, Disnay
      .sl-slide{"data-orientation" => "horizontal", "data-slice1-rotation" => "-5", "data-slice1-scale" => "2", "data-slice2-rotation" => "10", "data-slice2-scale" => "1"}
        .sl-slide-inner
          .bg-img.bg-img-5
          %h2 We Know Media.
          %blockquote
            %p "This is the team building the future of entertainment."
            %cite 
              Margi Clarke
              %br
              %span.darken
                TV Personality
    / /sl-slider
    %nav#nav-arrows.nav-arrows
      %span.nav-arrow-prev Previous
      %span.nav-arrow-next Next
    %nav#nav-dots.nav-dots
      %span.nav-dot-current
      %span
      %span
      %span
      %span

:javascript
  $(function() {
  
    var Page = (function() {

      var $navArrows = $( '#nav-arrows' ),
      $nav = $( '#nav-dots > span' ),
        slitslider = $( '#slider' ).slitslider( {
          onBeforeChange : function( slide, pos ) {

            $nav.removeClass( 'nav-dot-current' );
            $nav.eq( pos ).addClass( 'nav-dot-current' );

          }
        } ),

        init = function() {

          initEvents();
          
        },
        initEvents = function() {

          // add navigation events
          $navArrows.children( ':last' ).on( 'click', function() {

                  slitslider.next();
                  return false;

          } );

          $navArrows.children( ':first' ).on( 'click', function() {
                  
                  slitslider.previous();
                  return false;

          } );

          $nav.each( function( i ) {
          
            $( this ).on( 'click', function( event ) {
              
              var $dot = $( this );
              
              if( !slitslider.isActive() ) {

                $nav.removeClass( 'nav-dot-current' );
                $dot.addClass( 'nav-dot-current' );
              
              }
              
              slitslider.jump( i + 1 );
              return false;
            
            } );
            
          } );

        };

        return { init : init };

    })();

    Page.init();
  
  });