%title Careers | OnPrem

.main
	%h1 Careers
	.team
		%h1 Team
	.culture
		%h1 Culture
	.activities
		%h1 Activities
	.join-us
		%h1 Join Us
		%h2	Career Opportunities
		%h2 Current Positions
	.follow-us
		%h1 Follow Us