%title Careers | OnPrem

= render "pages/slit-slider-sweet"

.main
	%h1 Careers
	%p.description
		At OnPrem, you don't just do a job, you build a career. Everyone at Onprem is committed to helping you fulfill the professional goals that you aim to achieve. From your colleagues who are always willing to help to the Managers and Partners who serve as mentors, we dedicate ourselves to helping you grow and realize your full potential. We recognize the importance of offering a clearly defined path for success, which is why we've put in the hours to define exactly how you can advance from one level to the next. 
	.culture
		%h1 Culture
		%p
			From day one, the OnPrem Partners made a commitment to create and maintain a truly unique company culture. Our culture reflects our values of transparency, collaboration, meritocracy, and exhibiting a passion for everything we do. 
		%p
			Transparency. The Partners welcome questions and feedback from all team members as they recognize the importance of a happy and informed staff.
		%p
			Meritocracy. If you're a proven performer, then you'll be on the fast track to that next level - and beyond!
		%p
			Collaboration. Our culture fosters a sense of community and collaboration. All of our team members are always willing to lend an extra hand wherever and whenever needed. 
		%p
			Passion. We love having an impact on some of the most innovative companies in Media & Entertainment, and there's no other industry in which we'd rather work.
	.join-us
		%h1 Join Us
		%h2	Career Opportunities
		%p
			We are looking for talented, innovative individuals to join our fast-growing practice. If you are passionate about Media & Entertainment, consulting, strategy, or software development, email us at careers@onprem.com.
		%h2 Current Positions
		%p
			In general, we expect all potential candidates to have the following skills:
		%ul
			%li
				Exceptional analytical skills
			%li
				History of success throughout academic and business career
			%li
				Strong communication skills, written and oral
			%li
				Experience excelling in a team environment
			%li
				Strong organizational and "follow-through" skills
			%li
				Above average work ethic
			%li
				An innovative spirit
			%li
				Attention to detail
			We are currently hiring for the positions listed below. To view the required and desired requirements for each role, just click on the role(s) you're interested in:
		%h3 Business Analyst
		%h3 Consultant
		%h3 Senior Consultant
		%h3 Project Manager
		%h3 Senior Project Manager
	.follow-us
		%h1 Follow Us