%title Careers | OnPrem

= render "pages/slit-slider-sweet"

.main
	%h1 Careers
	.team
		%h1 Team
	.culture
		%h1 Culture
		%p
			OnPrem is a team of adventurous, multi-talented, scary-smart consultants. We exceed our clients' expectations on a daily basis.  
	.activities
		%h1 Activities
	.join-us
		%h1 Join Us
		%h2	Career Opportunities
		%p
			We are looking for talented, innovative individuals to join our fast-growing practice. If you are passionate about Media & Entertainment, consulting, strategy, or software development, email us at careers@onprem.com.
		%h2 Current Positions
		%p
			We are now hiring the following:
		%h3 Business Analyst
		%h3 Consultant
		%h3 Senior Consultant
		%h3 Project Manager
		%h3 Senior Project Manager
	.follow-us
		%h1 Follow Us