-title "Careers | OnPrem"

= render "pages/slit-slider-sweet"

.main
	%h1 Careers
	%h3.sub-header More fun than your job
	%p.description
		At OnPrem, you don't just do a job, you build a career. Everyone at Onprem is committed to helping you fulfill the professional goals that you aim to achieve. From your colleagues who are always willing to help to the Managers and Partners who serve as mentors, we dedicate ourselves to helping you grow and realize your full potential. We recognize the importance of offering a clearly defined path for success, which is why we've put in the hours to define exactly how you can advance from one level to the next. 
	%p
		Everyone at OnPrem is also dedicated to advancing the company as a whole, which we do through our internal squads. Each team member belongs to at least one squad of his/her choosing and collaborates with others to carry out internal company initiatives. Squad members participate in Branding & Marketing, Professional Development, Company Strategy, and Team/Culture Management projects, among others. Our squad work is often just as fulfilling as our client work, as we all have the opportunity to help influence and shape the future of OnPrem.
	.join-us
		%h1 Join Us
		%h3.sub-header Immediately
		%h2	Career Opportunities
		%p
			We are looking for talented, innovative individuals to join our fast-growing practice. If you are passionate about Media & Entertainment, consulting, strategy, or software development, email us at careers@onprem.com.
		%p
			In general, we expect all potential candidates to have the following skills:
		%ul
			%li
				Exceptional analytical skills
			%li
				History of success throughout academic and business career
			%li
				Strong communication skills, written and oral
			%li
				Experience excelling in a team environment
			%li
				Strong organizational and "follow-through" skills
			%li
				Above average work ethic
			%li
				An innovative spirit
			%li
				Attention to detail
		%h2 Current Positions
		%p
			We are currently hiring for the positions listed below. 
		/ %a{:href => "javascript:void(0)", :class => "business-analyst", :data => {:toggle => "modal", :target => "#business-analyst"}}
		/ 	%h3
		%h3 Business Analyst
		%h3 Consultant
		%h3 Senior Consultant
		%h3 Project Manager
		%h3 Senior Project Manager
		%p
			If you are interested in joining our team, please send a resume and cover letter to 
			%a{href: "mailto:careers@onprem.com"} careers@onprem.com
/ .modal.fade{:id => "business-analyst", :tabindex => "-1", :aria_labelledby => "business-analyst"}
/ 	.modal-dialog
/ 		.modal-content
/ 			.modal-header
/ 				%button.close{:data => {dismiss:"modal"}, :aria_hidden => "true", :type => "button"} &times;
/ 				%h2.modal-title Business Analyst
/ 			.modal-body
/ 				A Business Analyst is:
/ 				%ul
/ 					%li Courteous
/ 					%li Kind
/ 					%li Obedient
/ 					%li Cheerful
/ 					%li Thrifty
/ 					%li Brave
/ 					%li Clean
/ 					%li Reverent
/ 				.modal-footer
/ 					%button.btn.close{data:{dismiss:"modal"}} Close