-title "Contact Us | OnPrem"

= render "pages/slit-slider-sweet"

.main
  %h1 Contact Us
  %h3.sub-header Get in Touch
  #contact-us

    .contact-map
      %img{src:"https://s3-us-west-1.amazonaws.com/onpremrails-production/static/OnPrem_Map_3.png",alt:"OnPrem Locations"}

    .contact-info
      %p
        We currently have consultants in Los Angeles and New York City, and will soon have a presence in Austin, TX as we open our Innovation and Development Center.

      %p
        If you have what we're looking for and would like to hear more about our career opportunities, please email us at 
        %a{href:"mailto:careers@onprem.com"}
          careers@onprem.com.

      %p
        If you are interested in learning more about our services and how we can help your business, please email us at 
        %a{href:"mailto:opportunity@onprem.com"}
          opportunity@onprem.com.
      %p
        Thanks for visiting!

      .opportunities
        %h2 Opportunities
        %p
          We are excited about new opportunities and pride ourselves in building long-term relationships. Our breadth of project experience, passion about technology and focus on talent and culture result in a successful and collaborative partnership with our clients.
        %p
          email: 
          %a{href:"mailto:opportunity@onprem.com"}
            opportunity@onprem.com