-title "Contact Us | OnPrem"

= render "pages/slit-slider-sweet"

.main
  %h1 Contact Us
  %h3.sub-header Get in Touch
  #contact-us

    .contact-info

      .opportunities
        %h2 Opportunities
        %p
          We are excited about new opportunities and pride ourselves in building long-term relationships. Our breadth of project experience, passion about technology and focus on talent and culture result in a successful and collaborative partnership with our clients.
        %p
          email: 
          %a{href:"mailto:opportunity@onprem.com"}
            opportunity@onprem.com