-title "IDC | OnPrem"

= render "pages/slit-slider-sweet"

.main
  %h1 What Is IDC?
  %h3.sub-header Coming soon!
  %p Look back to this page for more information on our Innovation and Development Center, which will probably change the face of software development forever.