-title "OnPrem Solution Partners"

= render "pages/slit-slider-sweet"

.main
  %h1 About Us
  %h3.sub-header Who We Are
  #about-us

    OnPrem is a Southern California consulting and technology innovation startup.

    Founded in 2013 by four consulting industry leaders, we work with some of the most innovative companies in the world including major studios, large broadcasters and leading technology companies.

    OnPrem's focus on top talent, company culture and creating the next generation consulting firm make it an exciting place to work for anyone with an entrepreneurial mindset.
