

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h3#sneak-peek {
	color: $dark-blue;
}

$circle-diameter: 17em;

.circle-links {
	@extend .row;
	.circle-link-box {
		@extend .col-sm-6, .col-md-4;
		a {
			text-decoration: none;
		}
		.circle-link {
			width: $circle-diameter;
		  height: $circle-diameter;
		  margin: auto;
		  border: 0.5em solid black;
		  border-radius: 50%;
		  overflow: hidden;
		  // background: rgba(0,0,0,0) url("http://i.imgur.com/tJyC8mb.jpg");
		  background-position: center center;
	  	// &:before {
	  	// 	position:absolute;
	  	// 	width:$circle-diameter;
	  	// 	height: $circle-diameter;
	  	// 	margin: auto;
	  	// 	background-color: inherit;
	  	// 	content: ' ';
	  	// }
		  .circle-link-label {
			  content: "";
			  color: white;
			  position: relative;
			  background: black;
			  top: 50%;
			  width: 100%;
			  height: 4em;
			  // border-radius: 0 0 2.2em 2.2em;
			  text-align: center;
			  h2 {
			  	margin: 0.5 0 0.5 0;
			  	font-size: 2.5em;
			  	text-transform: uppercase;
			  	color: $white;
			  }
			}
		}
		.circle-link-desc {
			width: 17em;
			margin: auto;
		}
	}
}