.main {
	@extend .container;
	background-color: $white;
	margin-top: 50px;
	// OnPrem Offerings blocks.  
	// Four per row on large screen, 2 per row tablet, 1 per row mobile
	#offerings {
		@extend .row;
		.offering {
			@extend .col-sm-6, .col-md-3;
			background-color: $white;
			.offering-header {
				@extend .row;
				.offering-icon {
					@extend .col-xs-4;
					display: inline-block;
					margin:auto;
					width: 48px;
					img { }
				}
				.offering-title {
					@extend .col-xs-8;
					display: inline-block;
					h2 {
						margin: 0 auto;
					}
				}
			}
			.offering-body { }
			.offering-detail {
				display: none;
			}
		}
	}
	// OnPrem Partner descriptions.  
	// Two per row on large screen, 2 per row tablet, 1 per row mobile
	.partners {
		@extend .row;
		display:inline-block;
		.partner {
			@extend .col-sm-6;
		}
	}
	#contact-us {
		@extend .row;
		display: inline-block;
		.contact-info {
			@extend .col-sm-6;
		}
	}
}