// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
	@include susy-grid-background;
	@include container($total-columns, $tablet, $computer);
	// OnPrem Offerings blocks.  
	// Four per row on large screen, 2 per row tablet, 1 per row mobile
	#offerings {
		// display: inline-block;
		.offering {
			background-color: white;
			.offering-icon {
				display: inline-block;
				width: 3em;
				img {
					max-width: 100%;
					height: auto;
				}
			}
			.offering-title {
				display: inline-block;
			}
			.offering-detail {
				display: none;
			}
		}
	}
	// OnPrem Partner descriptions.  
	// Two per row on large screen, 2 per row tablet, 1 per row mobile
	#partners {
		display:inline-block;
		.partner {
		}
	}
	#contact-us {
		display: inline-block;
		.contact-info {
		}
	}
}

@include at-breakpoint($tablet) {
	.main {
		@include susy-grid-background;
		#offerings {
			.offering {
				@include span-columns(4);
				@include nth-omega('2n + 1');
			}
		}
		#partners {
			.partner {
				@include span-columns(4);
				@include nth-omega('2n + 1');
			}
		}
		#contact-us {
			.contact-info {
				@include span-columns(4);
				@include nth-omega('2n + 1');
			}
		}
	}
}

@include at-breakpoint($computer) {
	.main {
		@include susy-grid-background;
		#offerings {
			.offering {
				@include span-columns(3);
				@include remove-nth-omega('2n + 1');
				@include nth-omega(5);
			}
		}
		#partners {
			.partner {
				@include span-columns(6);
				@include nth-omega('2n + 1');
			}
		}
		#contact-us {
			.contact-info {
				@include span-columns(6);
				@include nth-omega('2n + 1');
			}
		}
	}
}