// NOTE: for Navbar variables, see bootstrap-custom.css.scss.

// Font Defaults
$default-font: 				$helvetica;
$default-font-weight: 200;
$header-font: 				$helvetica;
$header-font-weight: 	200;
$body-font: 					$helvetica;
$body-font-weight: 		200;

// Background images
$dark-background: url(image_path("dark-bg.jpg"));

// Susy magic grid
$total-columns  : 7;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$show-grid-backgrounds: false;     // Display grid background - remove/comment in PROD
// $omega-float: left;             

$tablet					: 8;							//set tablet breakpoint when screen can fit 8 columns
$computer				: 55em 12;				// set large breakpoint to 12 columns when screen islarger than 55em

// Spacing variables
$logo-pic-width         : 140px;
$logo-text-height       : 62px;
$logo-text-top-margin   : 18px;
$logo-text-left-margin  : $logo-pic-width + 5px;
$header-height          : $logo-text-height + $logo-text-top-margin;

// Font and Background defaults
body {
	font-family: $default-font;
	font-weight: $default-font-weight;
  background-image: $dark-background;
  margin: 0;
  background-repeat: repeat;
  background-color: #2c2b29;
}

h1,h2 {
	font-family: $header-font;
	font-weight: $header-font-weight;
}

p {
	font-family: $body-font;
	font-weight: $body-font-weight;
}

/**** Responsive Header ****/

nav#navbar {
  @extend .navbar, .navbar-default, .navbar-fixed-top;
  margin-bottom:0;
  .header {
    @extend .navbar-header;
    button.toggle {
      @extend .navbar-toggle;
      span:first-child {
        @extend .sr-only;
      }
      span {
        @extend .icon-bar;
      }
    }
    a.logo {
      @extend .navbar-brand;
      max-height:1em;
      overflow: visible;
      text-decoration: none;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      #logopic{
        // position:absolute;
        width:90px;
        cursor: pointer;
        // z-index: 9999;
        @media screen and (max-width: $grid-float-breakpoint) {
          width: 50px;
        }
      }
      #logotext {
        display: inline-block;
        height: 40px;
        margin-top: 5px;
        // margin-left:1em;
        vertical-align: top;
        // @media screen and (max-width: 300px) {
        //   display:none;
        // }
      }
    }
  }
  #nav-links {
    @extend .collapse, .navbar-collapse;
    ul {
      @extend .nav, .navbar-nav, .navbar-right;
      li {
        width:auto;
        a {
          // z-index: -1; // Set behind #logopic
          text-decoration: none;
          text-align: right;
          width:auto;
        }
      }
    }
  }
}


/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}