// Font and Background defaults
body {
	font-family: $body-font-family;
	font-weight: $body-font-weight;
  // background-image: $dark-background;
  margin: 0;
  background-repeat: repeat;
  // background-color: $very-dark-grey;
  background-color: white;
}

.main {
  @extend .container;
  // width: 90%;
  background-color: $white;
  // margin-top: 50px;
  padding-bottom: 2em;
}

// Add margin to the top of the page if there is no slider.
.top-spacer {
  height: ($navbar-height + 15px);
}

h1 {
	font-family: $h1-font-family;
	font-weight: $h1-font-weight;
  font-size: $h1-font-size;
  color: #0d3a67;
  text-transform: uppercase;
  margin: 0.2em 0 0 0;
  line-height: 70px;
}

h2 {
  font-family: $h2-font-family;
  font-weight: $h2-font-weight;
  font-size  : $h2-font-size;
  color      : $light-blue;
  // font-style : italic;
  // text-transform: uppercase;
}

h3.sub-header {
  margin: -0.7em 0 1em 0.1em;
  text-transform: uppercase;
  color: $light-grey;
}

p {
	font-family: $body-font-family;
	font-weight: $body-font-weight;
  color      : $very-dark-grey;
}

/**** Responsive Header ****/

nav#navbar {
  @extend .navbar, .navbar-default, .navbar-fixed-top;
  margin-bottom:0;
  .header {
    @extend .navbar-header;
    button.toggle {
      @extend .navbar-toggle;
      span:first-child {
        @extend .sr-only;
      }
      span:nth-child(n+2) {
        @extend .icon-bar;
      }
    }
    a.logo {
      @extend .navbar-brand;
      max-height:1em;
      overflow: visible;
      text-decoration: none;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      #logopic{
        width:90px;
        cursor: pointer;
        @media screen and (max-width: $grid-float-breakpoint) {
          width: 50px;
        }
      }
      #logotext {
        display: inline-block;
        height: 40px;
        margin-top: 5px;
        // margin-left:1em;
        vertical-align: top;
        // @media screen and (max-width: 300px) {
        //   display:none;
        // }
      }
    }
  }
  #nav-links {
    @extend .collapse, .navbar-collapse;
    ul {
      @extend .nav, .navbar-nav, .navbar-right;
      li {
        width:auto;
        a {
          // z-index: -1; // Set behind #logopic
          text-decoration: none;
          text-align: right;
          width:auto;
        }
      }
    }
  }
}

/**** Popup Alerts ****/
.popup {
  @extend .alert, .fade, .in;
  position: fixed;
  width: 50%;
  top: 100px;
  left: 25%;
  h2 {
    margin-top: 0;
  }
  button {
    @extend .btn, .btn-default;
  }
}
.popup-errors {
  @extend .alert-danger;
}
.popup-success {
  @extend .alert-success;
}

/**** Table Formatting ****/
table {
  @extend .table, .table-striped, .table-hover, .table-condensed;
}

/**** Button Formatting ****/
// White
.default-button {
  @extend .btn, .btn-default;
}
// Blue
.primary-button {
  @extend .btn, .btn-primary;
}
// Green
.success-button {
  @extend .btn, .btn-success;
}
// Light Blue
.info-button {
  @extend .btn, .btn-info;
}
// Orange
.warning-button {
  @extend .btn, .btn-warning;
}
// Red
.danger-button {
  @extend .btn, .btn-danger;
}

/**** Social Media Icons ****/
span.icon {
  a {
    color: default !important;
  }
  @extend .fa-stack;
  i.square-bg {
    @extend .fa, .fa-square, .fa-stack-2x, .fa-inverse;
  }
  i.linkedin {
    @extend .fa, .fa-linkedin, .fa-stack-1x;
  }
  i.twitter {
    @extend .fa, .fa-twitter, .fa-stack-1x;
  }
  i.email {
    @extend .fa, .fa-envelope, .fa-stack-1x;
  }
  i.github {
    @extend .fa, .fa-github-alt, .fa-stack-1x;
  }
  i.facebook {
    @extend .fa, .fa-facebook, .fa-stack-1x;
  }
}

/**** Footer ****/

$footer-left-pad: 0.5em;
$footer-right-pad: 0.5em;

.footer-container {
  background-color: $light-blue;
  .footer {
    p {
      color: white;
    }
    @extend .container;
    padding-top: 1em;
    padding-bottom: 1em;
    .footer-logo {
      // @extend .col-xs-4, .col-sm-1;
      float: right;
      padding-left: 0;
      img {
        height: 7em;
        width: auto;
      }
    }
    .footer-nav {
      // @extend .col-xs-8;
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style-type: none;
          display: inline-block;
          border-right: 2px solid $dark-blue;
          padding-right: $footer-right-pad;
          padding-left: $footer-left-pad;
          a {
            color: $white;
          }
          &:last-child {
            border-right: 0;
          }
          @media screen and (max-width: $grid-float-breakpoint) {
            display: block;
            border-right: 0;
            border-left: 2px solid $light-blue;
          }
        }
      }
    }
    .social {
      padding-left: $footer-left-pad;
      .social-icons {
        ul {
          margin: 0;
          padding: 0;
          li {
            color: $white;
            list-style-type: none;
            display: inline-block;
            &:last-child {
              border-right: 0;
            }
            @media screen and (max-width: $grid-float-breakpoint) {
              border-right: 0;
            }
          }
        }
      }
    }
    .copyright {
      padding-left: $footer-left-pad;
    }
  }
}

/**** Box Shadow Mixins ****/
@mixin paper-shadow {
  position: relative;
  &:before, &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  &:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}