
$default-font: 				$helvetica;
$default-font-weight: 200;
$header-font: 				$helvetica;
$header-font-weight: 	200;
$body-font: 					$helvetica;
$body-font-weight: 		200;

// Susy magic grid
$total-columns  : 7;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
// $from-direction : left;
$show-grid-backgrounds: true;
$omega-float: left;

$tablet					: 8;							//set tablet breakpoint when screen can fit 8 columns
$computer				: 55em 12;				// set large breakpoint to 12 columns when screen islarger than 55em

// $mobile:							new-breakpoint(max-width 768px, 4);
// $tablet:							new-breakpoint(min-width 768px max-width 1024px, 8);

body {
	font-family: $default-font;
	font-weight: $default-font-weight;
}

h1,h2 {
	font-family: $header-font;
	font-weight: $header-font-weight;
}

p {
	font-family: $body-font;
	font-weight: $body-font-weight;
}



/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}