
$default-font: 				$helvetica;
$default-font-weight: 200;
$header-font: 				$helvetica;
$header-font-weight: 	200;
$body-font: 					$helvetica;
$body-font-weight: 		200;

$mobile:							new-breakpoint(max-width 768px 4);
$tablet:							new-breakpoint(min-width 768px max-width 1024px 8);

body {
	font-family: $default-font;
	font-weight: $default-font-weight;
}

h1,h2 {
	font-family: $header-font;
	font-weight: $header-font-weight;
}

p {
	font-family: $body-font;
	font-weight: $body-font-weight;
}

#container {
	@include outer-container;

	#offerings {

		display: inline-block;

		.offering {

			@include media($mobile) {
				@include span-columns(4);
			}

			@include media($tablet) {
				@include span-columns(4);
				.offering:nth-child(2) {
					@include omega();
				}
			}

			@include span-columns(3);
		}
	}
}