

// Font and Background defaults
body {
	font-family: $body-font-family;
	font-weight: $body-font-weight;
  background-image: $dark-background;
  margin: 0;
  background-repeat: repeat;
  background-color: $very-dark-grey;
}

.main {
  @extend .container;
  // width: 90%;
  background-color: $white;
  margin-top: 50px;
  padding-bottom: 2em;
}

h1 {
	font-family: $h1-font-family;
	font-weight: $h1-font-weight;
  font-size: $h1-font-size;
  text-transform: uppercase;
}

h2 {
  font-family: $h2-font-family;
  font-weight: $h2-font-weight;
  font-size  : $h2-font-size;
  // font-style : italic;
  text-transform: uppercase;
}

p {
	font-family: $body-font-family;
	font-weight: $body-font-weight;
}

/**** Responsive Header ****/

nav#navbar {
  @extend .navbar, .navbar-default, .navbar-fixed-top;
  margin-bottom:0;
  .header {
    @extend .navbar-header;
    button.toggle {
      @extend .navbar-toggle;
      span:first-child {
        @extend .sr-only;
      }
      span:nth-child(n+2) {
        @extend .icon-bar;
      }
    }
    a.logo {
      @extend .navbar-brand;
      max-height:1em;
      overflow: visible;
      text-decoration: none;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      #logopic{
        width:90px;
        cursor: pointer;
        @media screen and (max-width: $grid-float-breakpoint) {
          width: 50px;
        }
      }
      #logotext {
        display: inline-block;
        height: 40px;
        margin-top: 5px;
        // margin-left:1em;
        vertical-align: top;
        // @media screen and (max-width: 300px) {
        //   display:none;
        // }
      }
    }
  }
  #nav-links {
    @extend .collapse, .navbar-collapse;
    ul {
      @extend .nav, .navbar-nav, .navbar-right;
      li {
        width:auto;
        a {
          // z-index: -1; // Set behind #logopic
          text-decoration: none;
          text-align: right;
          width:auto;
        }
      }
    }
  }
}

/**** Table Formatting ****/
table {
  @extend .table, .table-striped, .table-hover;
}

/**** Footer ****/
.footer {
  @extend .container;
  padding-top: 1em;
  padding-bottom: 1em;
  .footer-logo {
    // @extend .col-xs-4, .col-sm-1;
    float: right;
    padding-left: 0;
    img {
      height: 7em;
      width: auto;
    }
  }
  .footer-nav {
    // @extend .col-xs-8;
    ul {
      // position: absolute;
      float: left;
      margin: 0;
      padding: 0;
      li {
        // text-decoration: none;
        list-style-type: none;
        display: inline-block;
        border-right: 2px solid $light-blue;
        padding-right: 0.5em;
        padding-left: 0.5em;
        a {
          color: $white;
        }
        &:last-child {
          border-right: 0;
        }
        @media screen and (max-width: $grid-float-breakpoint) {
          display: block;
          border-right: 0;
          border-left: 2px solid $light-blue;
        }
      }
    }
  }
}

/**** Box Shadow Mixins ****/
@mixin paper-shadow {
  position: relative;
  &:before, &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  &:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}