#offerings-full {
	@extend .row;
	.offering {
		@extend .col-sm-6;
		background-color: $white;
		border: 1px solid #E3E3E3;
		//margin:	auto;		
		margin-top: 2em;
		height: 450px;
		.offering-header {
			@extend .row;
			.offering-icon {
				overflow: hidden;
				height: 260px;
				margin: 1.5%;
				position: relative;
				img {
					min-width:100%;
					min-height:100%;
					// position:relative;
				}
			}
			.offering-title {
				//@extend .col-xs-9, .col-sm-2;
				//height: 25px;
				margin: 0px 3%;
				h2 {
					margin: 0 auto;
				}
			}
		}
		.offering-body {
			@extend .row;
			margin: 0px 3%;
		}
		.offering-detail {
			@extend .row;
			margin: 0px 3%;
			display: none;
		}
	}
}