
// * {
// 	border: 1px solid red;
// }

.main {
	.project-container {
		margin:	auto;
		.project {
			width:14em;
			margin:0.25em;
			background-color: #EBEBEB;
			border: 1px solid black;
			.project-image {
				overflow: hidden;
				background-color: #CCCCCC;
				height: 10em;
				margin: 2%;
				img {
					min-width:100%;
					min-height:100%;
					// position:relative;
				}
			}
			.project-title {
				background-color: #B0B0B0;
				height: 3em;
				margin: 2%;
			}
			.project-client {
				background-color: #808080;
			}
		}
	}
}