$person-height: 200px;

.main {
	.person-container {
		margin:	auto;
		.person {
			// -webkit-box-shadow: rgb(0, 0, 0) 0px 5px 5px -5px;
			width: 140px;
			min-height: 140px;
			margin: 2px;
			background-color: #EBEBEB;
			// border: 1px solid black;
			.person-image {
				overflow: hidden;
				// background-color: #CCCCCC;
				// height: 260px;
				margin: 1%;
				position: relative;
				img {
					// background-color: #CCCCCC;
					min-width:100%;
					height: auto;
					// position:relative;
				}
				.person-info {
					display: none;
					background-color: $person-semitrans-blk;
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 100%;
					padding: 2%;
					.person-name {
						margin: 0 auto;
						text-align: center;
						color: $white;
						// text-decoration: underline;
						font-family: $roboto-condensed;
						margin: 1em auto 0.5em auto;
						font-size: 1.5em;
					}
					.person-title {
						margin: 0 auto;
						text-align: center;
						color: $white;
					}
					.icons {
						text-align: center;
						margin-top: 1.25em;
						span.icon {
							@extend .fa-stack;
							i.square-bg {
								@extend .fa, .fa-square, .fa-stack-2x, .fa-inverse;
							}
							i.linkedin {
								@extend .fa, .fa-linkedin, .fa-stack-1x;
							}
							i.twitter {
								@extend .fa, .fa-twitter, .fa-stack-1x;
							}
							i.email {
								@extend .fa, .fa-envelope, .fa-stack-1x;
							}
							i.github {
								@extend .fa, .fa-github-alt, .fa-stack-1x;
							}
						}
					}
				}
			}
		}
	}
}

// thumbnail images in index table
td.image img {
	max-width: 48px;
	max-height: 48px;
}