$person-height: 200px;

.main {
	.person-container {
		margin:	auto;
		margin-top: 2em;
		.person {
			width: 140px;
			min-height: 140px;
			margin: 1px;
			// background-color: $dark-grey;
			.person-image {
				overflow: hidden;
				position: relative;
				img {
					min-width: 100%;
					height: auto;
				}
				.person-info {
					display: none;
					background-color: $person-semitrans-blk;
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 100%;
					padding: 2%;
					.person-name {
						margin: 0 auto;
						text-align: center;
						color: $white;
						font-family: $roboto-condensed;
						margin: 0.5em auto 0.25em auto;
						font-size: 1.5em;
					}
					.person-title {
						margin: 0 auto;
						text-align: center;
						color: $white;
					}
					.icons {
						text-align: center;
						margin-top: 0.75em;
					}
					.person-detail {
						display: none;
					}
				}
			}
		}
	}
}

// thumbnail images in index table
td.image img {
	max-width: 48px;
	max-height: 48px;
}