
// * {
// 	border: 1px solid red;
// }
.main {
	// Filters - ALSO APPLIES TO TEAM PAGE
	.combo-filters {
		.option-set {
			a {
				@extend .btn, .btn-default, .btn-sm;
				margin-bottom: 3px;
			}
			.selected {
				@extend .active;
			}
		}
	}
	.project-container {
		margin:	auto;
		margin-top: 2em;
		.project {
			cursor: pointer;
			// box-shadow: 1px 1px 2px #888888;
			width: 280px;
			margin: 2px;
			// background-color: #FCFEF5;
			border: 1px solid #E3E3E3;
			.project-image {
				overflow: hidden;
				// background-color: #CCCCCC;
				height: 260px;
				// margin: 1.5%;
				position: relative;
				img {
					min-width:100%;
					min-height:100%;
					// position:relative;
				}
				.project-description {
					display: none;
					background-color: $project-semitrans-wht;
					position: absolute;
					bottom: 0;
					width: 100%;
					padding: 2%;
				}
			}
				
			.project-info {
				// background-color: $white;
				height: 50px;
				margin: 3%;
				img {
					height: 100%;
					width: auto;
				}
				h2 {
					margin: 0;
					line-height: 1.2em;
				}
			}
		}
	}
}

// thumbnail images in index table
td.image img {
	max-width: 48px;
	max-height: 48px;
}