
// * {
// 	border: 1px solid red;
// }
.main {
	.combo-filters {
		// text-align: center;
		// padding-bottom: 1em;
		// .filter-label {
		// 	display: inline;
		// }
		// ul.option-set {
		// 	padding-left: 0;
		// 	display: inline;
		// 	li {
		// 		list-style: none;
		// 		display: inline-block;
		// 		// border: 1px solid black;
		// 		padding: .25em .5em;
		// 		background-color: #EBEBEB;
		// 		border-radius: 0.25em;
		// 		&:hover {
		// 			background-color: $light-grey;
		// 		}
		// 		a {
		// 			text-decoration: none;
		// 		}
		// 	}
		// }
		.option-set {
			// display: inline-block;
			@extend .btn-group;
			a {
				@extend .btn, .btn-default, .btn-group;
			}
			.selected {
				@extend .active;
			}
		}
	}
	.project-container {
		margin:	auto;
		margin-top: 2em;
		.project {
			// box-shadow: 1px 1px 2px #888888;
			width: 280px;
			margin: 2px;
			background-color: #EBEBEB;
			// border: 1px solid black;
			.project-image {
				overflow: hidden;
				background-color: #CCCCCC;
				height: 240px;
				margin: 1.5%;
				position: relative;
				img {
					min-width:100%;
					min-height:100%;
					// position:relative;
				}
				.project-title {
					display: none;
					background-color: $project-semitrans-wht;
					position: absolute;
					bottom: 0;
					width: 100%;
					padding: 2%;
				}
			}
				
			.project-client {
				// background-color: $white;
				height: 30px;
				margin: 4%;
				img {
					height: 100%;
					width: auto;
				}
			}
		}
	}
}

// thumbnail images in index table
td.image img {
	max-width: 48px;
	max-height: 48px;
}