- unless flash.empty?
	.flash.popup.popup-success
		-flash.each do |name, msg|
			=content_tag :div, msg, id: "flash_#{name}"
		%button{:type => "button", :aria_hidden => "true", :data => {:dismiss => "alert"}} Dismiss