%nav#navbar{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .container
    .header
      %button.toggle{"data-target" => "#nav-links", "data-toggle" => "collapse", type: "button"}
        / Bars that make up the toggle button icon
        %span
        %span
        %span
        %span
      %a.logo{href: "/"}
        / #logodiv
        = image_tag("OnPremLogoOnly.png", id: "logopic")
        = image_tag("OnPremTextOnly.png", id: "logotext")
    / Collect the nav links, forms, and other content for toggling
    .nav-links
      = render "layouts/navlinks"