.social-icons
  %ul
    %li Find us on:
    %li
      %a{href: "https://twitter.com/OnPremSP", target: "_blank"}
        %span.icon
          %i.square-bg
          %i.twitter
    %li
      %a{href: "http://www.linkedin.com/company/onprem-solution-partners", target: "_blank"}
        %span.icon
          %i.square-bg
          %i.linkedin
    %li
      %a{href: "https://www.facebook.com/OnpremSolutionPartners", target: "_blank"}
        %span.icon
          %i.square-bg
          %i.facebook